
@media screen  and (max-width:786px){
   .container-fluid{
    width: 90%;
    .navbar-nav {
        text-align: center;
      }
      .navbar-toggler {
        margin: 0 auto;
      }
      .section1 {
        text-align: center;
      }
      .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
      }
      .progress {
        margin-bottom: 15px;
      }
   }

} 
    @media screen and (min-width: 769px) and (max-width: 852px) {
        .container-fluid{
            width: 100%;
           }
    }
    @media screen and (min-width: 853px) and (max-width: 992px) {
        .container-fluid{
            width: 90%;
           }
    }
    @media screen and (min-width: 993px) and (max-width: 1200px) {
        .container-fluid{
            width: 90%;
           }
    }
    @media screen  and (min-width:1200px){
        .container-fluid{
            width: 90%;
           }
        }